/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2016, 6:46:54 PM
    Author     : Syntiche
*/
* {
	font-family:"Verdana";
	font-size: 14px;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.title {
	text-align: left;
	color: #FF9900;
	font-weight: bold;
	background: #5D6268;
	padding: 15px;
}

h1 {
	font-family:"Calibri";
	font-weight: bold;
        text-align: left;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	font-size: 26px;
	font-family:"Calibri";
        background: #FF9900;
        color: white;
        text-transform: uppercase;
        text-align: center;
}

h3 {
	font-size: 18px;
	font-family: Verdana;
	width: 75%;
        
}

.main_content {
    margin: 20px 50px 50px 275px;	
    padding: 15px 10px 50px 30px;
    overflow:auto;
    border-left: 3px solid black;
}

.home_content {
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.home_content a{
    text-decoration: none;
    color: white;
}

.home_content a:visited {
    text-decoration: none;
    color: #5D6268;
}

ul.home_content {
    padding: 2px;
    margin: 2px;
}

li.home_content {
    display: block;
    text-align: center;
    background: #FF9900;
    padding: 10px 0px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: #FF9900;
}

a:hover {
	text-decoration: none;	
}


a:active {
	text-decoration: none;
}

.navigation {
	position: relative;
	color: white;
	width: 250px;
	float: left;
	margin: 5px 0px;
	overflow: hidden;
}

ul.navigation {
	margin: 2px;
	padding: 10px 0px;
	list-style-type: none;
}
li.navigation{
	text-transform: uppercase;
	padding: 0px 0px 5px 7px;
	margin: 7px;
	font-size: 20px;
	background: #5D6268;
	color: white;
}

.wrapper {
	min-height:100%;
	position: relative;
}

th {
	background-color: #C6C6C6;
	color: white;
        padding: 3px;
}

td {
	padding: 1px 1px 1px 5px;
	vertical-align: middle;
}

.image {
    float: left;
    margin: 5px;
    padding: 10px 10px 20px 10px;	
}













